<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table style="margin: auto; margin-top:16px">
                <tr *ngFor="let row of seats.rows; let i=index;" style="margin-top: 16px">
                    <td *ngFor="let col of seats.cols; let j=index">

                        <button *ngIf="!isSeatUnAvailable(i+1,j+1) && isSelectedSeat(i+1,j+1)" type="button"
                            style="width: 64px;height:64px;" (click)="onSeatSelected(i+1,j+1)" class="btn btn-success">
                            {{i+1}},{{j+1}}</button>

                        <button *ngIf="isSeatUnAvailable(i+1,j+1)" type="button"
                            style="width: 64px;height:64px;cursor:not-allowed" class="btn btn-danger">
                            {{i+1}},{{j+1}}</button>

                        <button *ngIf="!isSeatUnAvailable(i+1,j+1) && !isSelectedSeat(i+1,j+1)" type="button" style="width: 64px;height:64px"
                            class="btn btn-outline-secondary" (click)="onSeatSelected(i+1,j+1)"> {{i+1}},{{j+1}}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>